body{
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
}
.error{
  color: red;
}
.clear{
  clear: both;
}
.border_none{
  border: none !important;
}
.border-top{
  border-top: 1px dashed #ccc;
}
.padding_none{
  padding: 0px !important;
}
.padding_none_left{
  padding-left: 0px !important;
}
.padding_none_right{
  padding-right: 0px !important;
}
a{
  text-decoration: none;
  color: #000;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

/* Fonts Start  */


@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* --------------- Home Page Header Start  --------------- */
.home_header_bg{
  width: 100%;
  background: url('../images/banner.jpg') no-repeat center;
  background-size: cover;
  height: 700px;
}
.header_button_one{
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none !important;
  font-size: 15px;
  margin-right: 15px;
  margin-top: 20px;
  transition: 0.2s;
  font-family: 'open_sanssemibold';
}
.header_button_one:hover{
  background: #00234b;
  border: 2px solid #00234b;
}
.home_header_button a{
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  font-family: 'open_sanssemibold';
}
.home_header_heading{
  text-align: center;
  font-size: 66px;
  font-family: 'open_sansbold';
  margin-top: 80px;
  color: #fff;
}
.first_header_textbox{
  padding-right: 5px !important;
}
.header_textbox{
  width: 100%;
  height: 45px;
  border: none;
  margin-right: 2px !important;
  margin-top: 30px;
  padding: 10px;
  outline: none;
  font-family: 'open_sansregular';
}
.header_textbox_one{
  position: relative;
}
.header_button{
  background: #a349a3;
  display: block;
  margin-top: 30px;
  font-size:22px;
  height: 45px;
  width: 50px;
  border: 1px solid #a349a3;
  cursor: pointer;
  color: #fff;
  font-family: 'open_sansregular';
  position: absolute;
  right: 0px;
  top: 0px;
}

/* --------------- Home Page Header Close  --------------- */

/* --------------- Header Start  --------------- */
.header_bg{
  width: 100%;
  background:#a349a3;
  padding-bottom: 15px;
}
.logo_text{
  font-family: 'open_sanssemibold';
  font-size: 36px;
  margin-top: 10px;
}
.logo_text a{
  color: #fff;
  text-decoration: none;
}
.header_textbox2{
  margin-top: 10px;
  width: 100%;
  height: 45px;
  border: none;
  margin-right: 2px !important;
  padding: 10px 15px;
  outline: none;
  font-family: 'open_sansregular';
}
.header_textbox3{
  margin-top: 10px;
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  margin-right: 2px !important;
  padding: 10px 10px;
  outline: none;
  font-family: 'open_sansregular';
}
.header_button_commen_one{
  border: 2px solid #fff;
  color: #000;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none !important;
  font-size: 15px;
  margin-right: 15px;
  margin-left: 15px;
  transition: 0.2s;
  font-family: 'open_sanssemibold';
  margin-top: 10px;
}
.header_button_commen_one:hover{
  background: #00234b;
  border: 2px solid #00234b;
  color: #fff;
}
.header_button_commen a{
  color: #fff;
  font-size: 15px;
  font-family: 'open_sanssemibold';
}
.input-group-addon{
  display: none;
}
.bfh-datepicker-toggle{
  width: 100%;
}
.bfh-timepicker-toggle{
  width: 100%;
}
.input-group>.bfh-number {
     border-right: 1px solid #ccc !important;
}

.header_search_button{
  background: #000;
  display: block;
  font-size:22px;
  height: 49px;
  width: 50px;
  border: 1px solid #a349a3;
  cursor: pointer;
  color: #fff;
  font-family: 'open_sansregular';
  position: absolute;
  right: 0px;
  top: 8px;
}
.header_search_button1{
  background: #000;
  font-size:22px;
  height: 44px;
  width: 150px;
  border: 0px solid #a349a3;
  cursor: pointer;
  color: #fff;
  font-family: 'open_sansregular';
  position: absolute;
  right: 0px;
  top: 10px;
}
/* --------------- Header Close  --------------- */

/* --------------- Footer Start  --------------- */
.footer_one_bg{
  width: 100%;
  background: #a349a3;
  padding: 20px 0px;
}
.footer_one_text{
  font-family: 'open_sansregular';
  color: #fff;
  font-size: 28px;
  text-align: left;
}
.footer_one_text2{
font-family: 'open_sansregular';
  text-align: right;
}
.footer_one_text2 a{
  color: #fff;
  text-decoration: none;
  font-size: 26px;
}
.footer_bg{
  width: 100%;
  background: #fff;
  padding: 20px;
  padding-top: 50px;
}
.footer_list{
  padding:0px;
  font-family: 'open_sansregular';
  color: #a349a3;
  font-size: 16px;
}
.footer_menu{
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}
.footer_menu li{
  padding: 0px 0px;
  list-style-type: none;
  display: block;
  font-family: 'open_sansregular';
}
.footer_menu li a{
  color: #a349a3;
  line-height: 32px;
  display: block;
}
.footer_menu li a i{
  margin-right: 10px;
}
.footer_copy_text{
  font-family: 'open_sansregular';
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.footer_copy_text a{
  color: #00234b;
}
/* --------------- footer Close  --------------- */


/* --------------- Main Part Start  --------------- */
.main_part_bg{
  width: 100%;
}
.main_part{
  background: #f6f6f6;
  padding: 0px;
  margin-top: 10px;
}
.date_filter{
  padding: 20px 0px;
  background: #fff;
}
.search_date_icon{
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  line-height: 38px;
  font-size: 22px;
  border-radius: 100%;
  float: left;
}
.search_date_icon2{
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  line-height: 38px;
  font-size: 22px;
  border-radius: 100%;
  float: right;
  margin-right: 0px;
}
.search_date_text{
  float: left;
  margin: 0px 32px;
  text-align: center;
  font-family: 'open_sanssemibold';
}
.main_search_part{
  font-family: 'open_sansregular';
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.main_search_part tr td{
    font-family: 'open_sansregular';
}
.main_search_name a{
  color: #00234b;
  font-family: 'open_sanssemibold';
  font-size: 20px;
  display: block;
  padding: 0px 10px;
}
.main_search_name span{
  font-size: 16px;
  padding: 0px 10px;
  line-height: 25px;
  font-family: 'open_sanssemibold';
}
.main_search_reating{
  padding: 0px 10px;
  padding-top: 10px;
  font-size: 18px;
  color: #a349a3;
}
.main_search_text{
  font-family: 'open_sansregular';
  font-size: 15px;
  color: #00234b;
  padding: 0px 10px;
}
.search_time_list{
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: left;
  margin: 10px;
}
.search_time_list li{
  padding: 0px;
  display: block;
}
.search_time_list li a{
  display: block;
  background: #e7e7e7;
  color: #00234b;
  font-family: 'open_sansregular';
  padding: 10px 15px;
  margin:8px 0px;
  text-decoration: none;
  transition: 0.5s;
}
.search_time_list li a:hover{
  background: #a349a3;
  color: #fff;
}

.search_time_list1{
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: left;
  margin: 10px;
}
.search_time_list1 li{
  padding: 0px;
  display: inline-block;
}
.search_time_list1 li a{
  display: block;
  background: #e7e7e7;
  color: #00234b;
  font-family: 'open_sansregular';
  padding: 10px 15px;
  margin:8px 0px;
  text-decoration: none;
  transition: 0.5s;
}
.search_time_list1 li a:hover{
  background: #a349a3;
  color: #fff;
}
.table_bt{
  border: 0px;
  background: #e7e7e7;
  color: #00234b;
  font-family: 'open_sansregular';
  padding: 10px 15px;
  margin:8px 0px;
  text-decoration: none;
  transition: 0.5s;
}
.table_bt:hover{
  background: #a349a3;
  color: #fff;
  border: 0px;
}
.table_bt:focus{
  border: 0px;
}
.table_bt:active{
  border: 0px;
}
.default_icon{
  font-size: 18px;
  border: 1px solid red;
  margin: auto;
  color: red;
  border-radius: 100%;
  padding: 2px 4px;
  margin-top: 17px;
}
.default_icon2{
  font-size: 18px;
  border: 1px solid green;
  margin: auto;
  color: green;
  border-radius: 100%;
  padding: 2px 2px;
  margin-top: 17px;
}
/* --------------- Main Part Close  --------------- */

/* --------------- Book Appointment Start  --------------- */
.bookappointment_bg{
  width: 100%;
}
.bookappointment_heading{
  font-family: 'open_sansbold';
  padding: 30px 0px;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}
.bookappointment_text{
  font-family: 'open_sansregular';
  margin-top: 30px;
}
.bookappointment_type{
  margin-top: 20px;
}
.bookappointment_type label{
  font-family: 'open_sansregular';
  color: #666;
  padding-bottom: 5px;
}
.bookappointment_login_div{
  margin-top: 20px;
}
.bookappointment_login_div label{
  font-family: 'open_sansregular';
  font-size: 18px;
}
.bookappointment_login_div a{
  font-size: 16px;
  font-family: 'open_sanssemibold';
  color: #2bbfed;
  text-decoration: none;
  line-height: 35px;
  transition: 0.5s;
}
.bookappointment_login_div a:hover{
  color: #00234b;
}
.bookappointment_login_textbox{
  width: 100%;
  height: 40px;
  padding: 10px;
  background: #fff;
}
.bookappointment_login_button{
  display: block;
  padding: 10px 15px;
  background: #a349a3;
  border: 1px solid #a349a3;
  font-family: 'open_sanssemibold';
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
}
.terms_lable label{
  font-size: 14px;
  font-family: 'open_sansregular';
  font-weight: normal;
}
.terms_lable_checkbox{
  width: 20px;
  height: 30px;
  float: left;
}
.terms_lable_checkbox2{
  width: 20px;
  height: 30px;
  float: left;
  margin-top: 7px;
}
.terms_lable2{
  border-top: 1px dashed #ccc;
  margin-top: 40px;
  padding-top: 30px;
}
#bookappointment_login{
  display: none;
}
#bookappointment_register{
  display: none;
}
.book_docter_details{
  margin-top: 40px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 0px;
}
.book_docter_details_lable{
  margin: 0px auto;
  padding: 10px 15px;
  font-family: 'open_sansbold';
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
.border_book_docter_details{
  border-bottom: 1px dashed #ccc;
}
.book_docter_details_lable2{
  margin: 0px auto;
  padding: 10px 15px;
  font-family: 'open_sansbold';
  font-size: 15px;
}
.book_docter_details_lable2 span{
  font-family: 'open_sansregular';
}
.doctor_details{
  width: 93%;
  margin: 0px auto;
}
.book_doctor_img{
  padding-top: 20px;
}
.book_doctor_img  img{
  border-radius: 100%;
}
.book_doctor_name{
  padding-top: 10px;
  font-family: 'open_sanssemibold';
  text-align: left;
}
.book_doctor_reating{
  padding: 0px 0px;
  font-size: 18px;
  color: #a349a3;
}
.book_doctor_text{
  font-family: 'open_sansregular';
  font-size: 15px;
  color: #00234b;
  padding-top: 5px;
}
.secure_booking{
  padding: 10px;
  display: block;
  margin-bottom: 40px;
}
/* --------------- Book Appointment Close  --------------- */

/* --------------- Singin Page Start --------------- */
.singin_bg{
  width: 100%;
  margin: 40px 0px;
}
.singin_lable{
  padding-top: 10px;
  font-family: 'open_sansbold';
  font-size: 24px;
  display: block;
  text-align: left;
}
.singin_lable2{
  font-family: 'open_sanssemibold';
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 8px;
}
.singin_part_border{
  width: 2px;
  margin: 0px auto;
  height: 250px;
  padding: 1px;
  background: #ccc;
}
.sign_textbox{
  width: 100%;
  height: 40px;
  font-family: 'open_sansregular';
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.sign_button{
  width: 100%;
  height: 45px;
  border: 1px solid #a349a3;
  background:#a349a3;
  color: #fff;
  font-family: 'open_sanssemibold';
  font-size: 18px;
  transition: 0.8s;
  margin-top: 10px;
}
.sign_button:hover{
  background: #00234b;
  border: 1px solid #00234b;
}
.singin_forgot_link{
  display: block;
  padding: 15px;
  text-align: center;
  color: #2bbfed;
  font-family: 'open_sanssemibold';
  font-size: 15px;
}
.sign_button2{
  width: 100%;
  height: 45px;
  border: 1px solid #a349a3;
  background:#a349a3;
  color: #fff !important;
  font-family: 'open_sanssemibold';
  font-size: 18px;
  transition: 0.8s;
  display: block;
  text-align: center;
  line-height: 42px;
  text-decoration: none !important;
}
.sign_button2:hover{
  background: #00234b;
  border: 1px solid #00234b;
  color: #fff !important;
}
.singin_link{
  display: block;
  padding: 0px 0px;
  text-align: left;
  color: #2bbfed !important;
  font-family: 'open_sanssemibold';
  font-size: 15px;
}
.singup_lable{
  font-family: 'open_sanssemibold';
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.singup_lable1{
  font-family: 'open_sanssemibold';
  font-size: 15px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 5px;
}
.terms_lable_signup label{
  font-size: 14px;
  font-family: 'open_sansregular';
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}

.terms_lable_signup label a{
  color: #2bbfed;
}
.terms_lable_checkbox{
  width: 20px;
  height: 30px;
  float: left;
}
/* --------------- Singin Page Close --------------- */
.funkyradio div {
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #ccc;
  font-weight: normal;
  background: #fff;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          -user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #ccc;
  border-radius: 0px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}


.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #a349a3;
}
/* ---------------  Book Appointment Steps Start  --------------- */
.bookappointment_steps_bg{
  width: 100%;
  background: #878791;
}
.bookappointment_step1{
  width: 20%;
  float: left;
  position: relative;
}
.bookappointment_step2{
  width: 8%;
  float: left;
  position: relative;
}
.bookappointment_step3{
  width: 6%;
  float: left;
  position: relative;
}
.bookappointment_step4{
  width: 8%;
  float: left;
  position: relative;
}

.bookappointment_steps_one{
  background: #00234b;
  height: 35px;
  font-size: 15px;
  color: #fff;
  font-family: 'open_sansregular';
  text-align: right;
  padding-right: 10px;
  line-height: 35px;
}
.not-active{
  background: none;
}
.flow-next > div.full {
  margin-right: 0.7em;
}
.flow-next:after {
  content: "";
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  top: 32%;
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  position: absolute;
  pointer-events: none;
  border-width: 17px;
  margin-top: -0.7em;
}
.active:after {
  left: 100%;
  border-left-color: #00234b;
  margin-left: 0;
}
.bookappointment_div{
  margin-top: 40px;
}
.bookappointment_subheading{
  font-family: 'open_sansbold';
  font-size: 18px;
  margin-bottom: 10px;
}
.bookappointment_subheading span{
  font-size: 12px;
  color: #676767;
  display: block;
  line-height: 32px;
  font-family: 'open_sansregular';
}
.bookappointment_info{
  font-size: 12px;
  color: #676767;
  display: block;
  font-family: 'open_sansregular';
}
.mygroup_selectbox{
  width: 350px !important;
}
.mygroup_selectbox2{
  height: 40px;
  background: #fff;
  padding: 10px;
}
.mygroup_selectbox .dropdown-toggle{
  width: 350px !important;
  border-radius: 0px !important;
  height: 40px !important;
}
.bookappointment_time{
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.bookappointment_time a{
  font-size: 16px;
  cursor: pointer;
  color: #2bbfed;
  font-family: 'open_sanssemibold';
}
.bookappointment_finished{
  font-family: 'open_sanssemibold';
  font-size: 36px;
  color: #00234b;
}
.bookappointment_finished span{
  font-family: 'open_sansregular';
  font-size: 14px;
  color: #00234b;
  line-height: 24px;
  display: block;
  margin-top: 20px;
}
/* ---------------  Book Appointment Steps Close  --------------- */

/* --------------- Dashboard Start --------------- */
.profile_button{
  margin-top: 20px;
  float: right;
}
.profile_button .noti{
  background: #a349a3 !important;
}

.profile_button .sr-only{
  position: inherit !important;
  padding: 10px 5px 10px 10px;
  border-left: 1px solid #ccc;
  text-align: center;
}

.profile_button .btn-group .btn-danger{
  background: #fff !important;
  color: #222 !important;
  border: 1px solid #fff;
  border-radius: 2px;
  line-height: 22px;
}

.profile_button .btn-group .btn-danger:focus{
  outline: none !important;
  border: 1px solid #fff !important;
  box-shadow: none !important;
}
.profile_button .btn-group .btn-danger i{
  font-size: 18px;
  margin-right: 5px;
}
.profile_button .sr-only i{
  margin: 0px !important;
  text-align: center;
}
.profile_button .dropdown-item{
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #f1f0f0;
}
.profile_button .dropdown-menu{
  padding: 0px !important;
  border-radius: 0px;
  min-width: 184px;
  right: 0px;
}
.profile_button .dropdown-item:hover{
  background: #f1f0f0;
  text-decoration: none;
  color: #000 !important;
}
.profile_lable{
  padding-top: 10px;
  font-family: 'open_sansbold';
  font-size: 24px;
  display: block;
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.new_appointments_div{
  padding: 10px;
  background: #fff;
  position: relative;
  margin-bottom: 20px;
}
.new_appointments_div img{
  width: 100%;
  border-radius: 100%;
  border: 1px solid #ccc;
  padding: 5px;
}
.new_appointments_text{
  padding: 10px 0px;
  border-bottom: 1px dashed #ccc;
}

.dashboard-block{
  padding: 10px;
  margin-top: 50px;
  border-radius: 3px;
  margin-bottom: 50px;
}
.dashboard-block-color1{
  background: #55badf !important;
  border: 1px solid #55badf;
}
.dashboard-block-color2{
  background: #ec6f5a !important;
  border: 1px solid #ec6f5a;
}

.dashboard-block-color3{
  background: #f7c65f !important;
  border: 1px solid #f7c65f;
}
.dashboard-block-color4{
  background: #967adc !important;
  border: 1px solid #967adc;
}
.dashboard-block-text{
  font-size: 22px;
  color: #fff;
  font-family: 'open_sanssemibold';
  text-align: center;
  margin-top: 0px;
  padding: 10px;
  border-bottom: 2px solid #fff;
}
.dashboard-block label{
  color: #fff;
  font-family: 'open_sanssemibold';
  font-size: 42px;
  position: absolute;
  top: -10px;
  display: block;
  left: 36%;
  line-height: 80px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  text-align: center;
}
.dashboard-text{
  text-align: justify;
  font-size: 14px;
  color: #666;
  font-family: 'open_sansregular';
  margin-top: 20px;
}
#toggle_event_editing .btn-info{
  height: 40px;
  width: 150px;
  margin-top: 20px;
  background: #a349a3;
  font-family: 'open_sanssemibold';
  font-size: 18px;
  color: #fff;
  border: 1px solid #a349a3;
  outline: none !important;
}

#toggle_event_editing .btn-default{
  height: 40px;
  width: 150px;
  margin-top: 20px;
  background: #999;
  font-family: 'open_sanssemibold';
  font-size: 18px;
  color: #fff;
  border: 1px solid #999;
  outline: none !important;
}
.dashboard-heading{
  text-align: center;
  font-family: 'open_sanssemibold';
  color: #222;
  font-size: 36px;
  margin-bottom: 80px;
}
.dashboard_other_heading{
  text-align: center;
  font-family: 'open_sanssemibold';
  color: #222;
  font-size: 36px;
  padding-bottom: 10px;
  margin-bottom: 10px !important;
}
.edit_profile_div{
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.edit_profile_text{
  font-family: 'open_sansregular';
  font-size: 16px;
  padding: 0px 5px;
}
.edit_profile_label{
  font-family: 'open_sanssemibold';
  display: block;
  font-size: 16px;
  color: #222;
  padding: 5px;
}
.edit_profile_textbox{
  width: 300px;
  height: 40px;
  padding: 10px;
  outline: none !important;
  background: #fff !important;
}
.edit_profile_textboxfull{
  height: 40px;
  padding: 10px;
  outline: none !important;
  width: 100%;
  background: #fff !important;
  margin-bottom: 10px;
}
.book_docter_details_border{
  border-bottom: 1px dashed #ccc;
}
.table-striped{
  border: 1px solid #ccc;
}

.table-striped thead{
  background: #a349a3 !important;
  padding: 15px !important;
  color: #fff;
}

.table-striped thead th{
  padding: 15px !important;
}


.table-striped tbody{
  background: #fff !important;
  padding: 15px !important;
  color: #000;
}

.table-striped tbody td{
  background: #fff !important;
  padding: 15px !important;
}

.table-striped tbody td:last-child{
  padding: 10px !important;
}
.viewbutton{
  display: inline-block;
  background: #a349a3;
  text-align: center;
  padding: 5px;
  width: 100px;
  font-size: 14px !important;
  color: #fff !important;
  text-decoration: none !important;
  transition: 0.5s;
}

.viewbutton:hover{
  background: #000 !important;
}

.modal-content{
  border-radius: 0px !important;
}
/* --------------- Dashboard Close --------------- */



/* --------------- Medical Team Starts--------------- */
.logo img{width:200px !important;}
.profile_tab{ margin:20px 0px 0px 0px;}
.profile_tab ul{ padding:0px 0px 60px 0px;}
.profile_tab ul li{ list-style:none; display:inline; margin:0px 0px 0px 30px; float:left;}
.profile_tab ul li a{ text-decoration:none; color:#a5a5ad; transition:1s;}
.profile_tab ul li a h3{border-left:1px solid #a5a5ad; padding:0px 0px 0px 30px}
.profile_tab ul li a:hover{ text-decoration:none; color:#000; transition:1s;}
.active{color:#00234b !important;}

h1 small{color:#000 !important;}


/***************** 7.Portlets ****************/
.portlet {
  margin-bottom: 20px;
  background: #fff;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.portlet .portlet-heading {
  /* padding: 20px 30px; */
  /* line-height: 38px; */
  /* min-height: 39px; */
  /* border-radius: 3px; */
  /* color: #fff; */
}

.portlet .portlet-heading .portlet-title {
  float: left;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}

.portlet .portlet-heading .portlet-widgets {
  position: relative;
  text-align: right;
  float: right;
  padding-left: 15px;
  display: inline-block;
  font-size: 15px;
  line-height: 0px;
}

.portlet .portlet-body {
  background: #fff;
  padding: 15px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.portlet .portlet-heading .portlet-widgets .divider {
  margin: 0 5px;
}

.portlet .portlet-heading.bg-purple a, .portlet .portlet-heading.bg-info a, .portlet .portlet-heading.bg-success a, .portlet .portlet-heading.bg-primary a, .portlet .portlet-heading.bg-danger a, .portlet .portlet-heading.bg-warning a, .portlet .portlet-heading.bg-inverse a,.portlet .portlet-heading.bg-pink a {
  color: #fff;
}

.portlet .portlet-heading a {
  color: #999;
}

.panel-disabled {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 15px;
  background: rgba(243,242,241,0.5);
}

.settings{ box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09) !important;}

/* --------------- Medical Team Closed--------------- */





